<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.dao.GStudentMapper">
  <resultMap id="BaseResultMap" type="com.generate.pojo.GStudent">
    <constructor>
      <idArg column="stuId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stuName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuPic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuSex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuTel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuSchool" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuGrade" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuAddr" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuEmail" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuPass" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stuStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    stuId, stuName, stuPic, stuSex, stuTel, stuSchool, stuGrade, stuAddr, stuEmail, stuCode, 
    stuPass, stuStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from g_student
    where stuId = #{stuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from g_student
    where stuId = #{stuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.GStudent">
    insert into g_student (stuId, stuName, stuPic, 
      stuSex, stuTel, stuSchool, 
      stuGrade, stuAddr, stuEmail, 
      stuCode, stuPass, stuStatus
      )
    values (#{stuid,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stupic,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=VARCHAR}, #{stutel,jdbcType=VARCHAR}, #{stuschool,jdbcType=VARCHAR}, 
      #{stugrade,jdbcType=VARCHAR}, #{stuaddr,jdbcType=VARCHAR}, #{stuemail,jdbcType=VARCHAR}, 
      #{stucode,jdbcType=VARCHAR}, #{stupass,jdbcType=VARCHAR}, #{stustatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.GStudent">
    insert into g_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuid != null">
        stuId,
      </if>
      <if test="stuname != null">
        stuName,
      </if>
      <if test="stupic != null">
        stuPic,
      </if>
      <if test="stusex != null">
        stuSex,
      </if>
      <if test="stutel != null">
        stuTel,
      </if>
      <if test="stuschool != null">
        stuSchool,
      </if>
      <if test="stugrade != null">
        stuGrade,
      </if>
      <if test="stuaddr != null">
        stuAddr,
      </if>
      <if test="stuemail != null">
        stuEmail,
      </if>
      <if test="stucode != null">
        stuCode,
      </if>
      <if test="stupass != null">
        stuPass,
      </if>
      <if test="stustatus != null">
        stuStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuid != null">
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupic != null">
        #{stupic,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="stutel != null">
        #{stutel,jdbcType=VARCHAR},
      </if>
      <if test="stuschool != null">
        #{stuschool,jdbcType=VARCHAR},
      </if>
      <if test="stugrade != null">
        #{stugrade,jdbcType=VARCHAR},
      </if>
      <if test="stuaddr != null">
        #{stuaddr,jdbcType=VARCHAR},
      </if>
      <if test="stuemail != null">
        #{stuemail,jdbcType=VARCHAR},
      </if>
      <if test="stucode != null">
        #{stucode,jdbcType=VARCHAR},
      </if>
      <if test="stupass != null">
        #{stupass,jdbcType=VARCHAR},
      </if>
      <if test="stustatus != null">
        #{stustatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.GStudent">
    update g_student
    <set>
      <if test="stuname != null">
        stuName = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupic != null">
        stuPic = #{stupic,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        stuSex = #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="stutel != null">
        stuTel = #{stutel,jdbcType=VARCHAR},
      </if>
      <if test="stuschool != null">
        stuSchool = #{stuschool,jdbcType=VARCHAR},
      </if>
      <if test="stugrade != null">
        stuGrade = #{stugrade,jdbcType=VARCHAR},
      </if>
      <if test="stuaddr != null">
        stuAddr = #{stuaddr,jdbcType=VARCHAR},
      </if>
      <if test="stuemail != null">
        stuEmail = #{stuemail,jdbcType=VARCHAR},
      </if>
      <if test="stucode != null">
        stuCode = #{stucode,jdbcType=VARCHAR},
      </if>
      <if test="stupass != null">
        stuPass = #{stupass,jdbcType=VARCHAR},
      </if>
      <if test="stustatus != null">
        stuStatus = #{stustatus,jdbcType=INTEGER},
      </if>
    </set>
    where stuId = #{stuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.GStudent">
    update g_student
    set stuName = #{stuname,jdbcType=VARCHAR},
      stuPic = #{stupic,jdbcType=VARCHAR},
      stuSex = #{stusex,jdbcType=VARCHAR},
      stuTel = #{stutel,jdbcType=VARCHAR},
      stuSchool = #{stuschool,jdbcType=VARCHAR},
      stuGrade = #{stugrade,jdbcType=VARCHAR},
      stuAddr = #{stuaddr,jdbcType=VARCHAR},
      stuEmail = #{stuemail,jdbcType=VARCHAR},
      stuCode = #{stucode,jdbcType=VARCHAR},
      stuPass = #{stupass,jdbcType=VARCHAR},
      stuStatus = #{stustatus,jdbcType=INTEGER}
    where stuId = #{stuid,jdbcType=INTEGER}
  </update>
</mapper>